<% @user.bands.build %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div>
    <%= f.text_field :username, :placeholder => "Vollständiger Name" %></div>

    <div>
    <%= f.email_field :email, :placeholder => "E-Mail" %></div>

    <div>
    <%= f.password_field :password, :placeholder => "Passwort" %></div>

    <div>
    <%= f.password_field :password_confirmation, :placeholder => "Passwort wiederholen" %></div>
    
    <div>
      <%= f.fields_for :bands do |band_form| %>
        <%= band_form.text_field :name, :placeholder => "Bandname" %>
      <% end %>
    </div>

    <div><%= f.submit "Registrieren" %></div>
  <% end %>


