<%= form_for (@band) do |f| %>
  <div><%= f.text_field :name %></div>
  
  <%= f.hidden_field :bgcolor, :value => '#898989' %>
  <%= f.hidden_field :maincolor, :value => '#ffffff' %>
  
  <div> <%= f.submit "Speichern"%></div>
  
<% end %>