 <div>
    <% if current_user.avatar? %>
      <%= image_tag current_user.avatar.url(:original), :class => "profile_image_zoom" %>
    <% else %>
      <%= image_tag 'no_prof_img.png', :class => "profile_image_zoom" %>
    <% end %>
    <%= link_to (image_tag "close_x.gif"), @posts, confirm: 'Are you sure?', :method => :delete, :class => "delete_link" %>
    </div>
  <div class="username_zoom"> <%= current_user.username.split.first %></div>
  <div class="posted_at_zoom"><%= time_ago_in_words(@post.created_at) %> ago</div>
  <div class="content_zoom"><%= auto_link(simple_format(@post.content.gsub("\r\n", "<br />"), {}, :sanitize => true))
  %></div>