<div id="top_menu_1_start">
  <div class="start_header_container">
    <div>
      <%= image_tag 'logo_gelb.png', :class => "logo_start", :height => "20px" %>
    </div>
    <% if user_signed_in? %>
      <div class="current_band">
        <%= link_to "Bands", band_path(current_user.bands.first) %>
      </div>
    <% end %>
    <div class="main_menu_start">
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
    <!-- <div class="vert_line"></div> -->
    <div class="logout_start">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Log In", sign_in_path %>
      <% end %>
    </div>
  </div>
</div>