<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAOzpT3XAa-TaSKeAOL6Z6EgulC285L4kY&sensor=false" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= params[:controller].parameterize %>_controller">
    <div class="headers">
      <% if user_signed_in? %>
        <%= render "application/flashes" %>
        <%= render "public_header" %>
      <% end %>
    </div>
    <div id="yield" style="background: <%= @band.bgcolor %>">
      <%= yield %>
    </div>

  </body>
</html>
